<section class="container about-us">
  <h2>Трохи про нас</h2>
  <hr style="border-top: 3px double #d92975; margin: 20px auto; width: 21%" />
  <p>
    Ми невелика компанія, яка виконує свою роботу на всі 100% і залишає кожного
    клієнта задоволеним. Ми надаємо тури практично у всі курортні країни світу.
    Крім того, ми також займаємося організацією екскурсій та путівок багатьма
    містами України.
  </p>
  <h2>Ми працюємо з великими компаніями</h2>
  <hr style="border-top: 3px double #d92975; margin: 20px auto; width: 65%" />
  <div>
    <svg class="icon">
      <use href="/img/sprite.svg#icon-undraw_through-the-park_xcqx"></use>
    </svg>
    <svg class="icon">
      <use href="/img/sprite.svg#icon-undraw_connected-world_anke"></use>
    </svg>
    <svg class="icon">
      <use href="/img/sprite.svg#icon-undraw_nature_yf30"></use>
    </svg>
    <svg class="icon">
      <use href="/img/sprite.svg#icon-undraw_working-from-anywhere_33m9"></use>
    </svg>
  </div>
</section>
