<footer class="container footer">
  <div class="item-card">
    <svg width="60px" height="60px">
      <use href="/img/footer.svg#icon-phone"></use>
    </svg>
    <p><b>По всій території:</b> <br />00000000</p>
  </div>
  <div class="item-card">
    <svg width="60px" height="60px">
      <use href="/img/footer.svg#icon-compass"></use>
    </svg>
    <p><b>Адреса:</b> <br />NY, вул. Весна 11/45</p>
  </div>
  <div class="item-card">
    <svg width="60px" height="60px">
      <use href="/img/footer.svg#icon-envelop"></use>
    </svg>
    <p><b>Email:</b> <br />help@wild.nature</p>
  </div>
</footer>
