<section class="container order">
  <h2>Замовте путівку прямо зараз</h2>
  <hr style="border-top: 3px double #d92975; width: 30%; margin: 20px auto" />
  <ul>
    <li class="card">
      <h4><b>Тільки переліт</b></h4>
      <h5>від 100$</h5>
      <p class="order-text">
        Якщо ви вже обрали готелі, ми організуємо для вас переліт за нижчими
        цінами
      </p>
      <button type="submit">Придбати</button>
    </li>
    <li class="card center">
      <h4><b>Переліт та готель</b></h4>
      <h5>від 150$</h5>
      <p class="order-text">
        Ми візьмемо всі обов'язки по перельту та готелю на себе, вам же
        залишиться лише знайти екскурсії або просто подорожувати самостійно.
      </p>
      <button type="submit">Придбати</button>
    </li>
    <li class="card">
      <h4><b>Все включено</b></h4>
      <h5>від 250$</h5>
      <p class="order-text">
        Ви просто хочете відпочити та більше ні про що не думати? Цей варіант
        спеціально для вас!
      </p>
      <button type="submit">Придбати</button>
    </li>
  </ul>
</section>
