<section class="container proposition">
  <h2>Що ми пропонуємо?</h2>
  <hr style="border-top: 3px double #d92975; width: 30%; margin: 20px auto" />
  <div class="list-card">
    <div class="card">
      <svg class="icon">
        <use href="/img/symbol-defs.svg#icon-undraw_aircraft_usu4"></use>
      </svg>
      <p class="title">Організація перельоту</p>
      <p class="text">
        Ми підбираємо для вас комфортні літаки із зручним вильотом вдень. Також
        спеціально для нас ціни на квитки знижено на 20%
      </p>
    </div>
    <div class="card">
      <svg>
        <use href="/img/symbol-defs.svg#icon-undraw_travel-mode_ydxo"></use>
      </svg>
      <p class="title">Пошук готелів</p>
      <p class="text">
        Ми займаємося заселенням тільки в найкращі готелі за найкращими цінами.
        Якість послуг у готелях та самі готелі виконані найкращим чином.
      </p>
    </div>
    <div class="card">
      <svg>
        <use href="/img/symbol-defs.svg#icon-undraw_travel-together_uhlf"></use>
      </svg>
      <p class="title">Екскурсії та розваги</p>
      <p class="text">
        Екскурсії та розваги важлива частина відпочинку. Ми підібрали для вас
        найкращі екскурсії та заходи, які ви можете відвідати.
      </p>
    </div>
  </div>
</section>
